body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f4f4f4;
    justify-content: center;
    align-items: center;
    display: flex
;
    flex-direction: column;;
}
h1 {
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    margin-top: 20px;
    max-width: 1480px;
}
.duck {
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    min-height: 100px;
    min-width: 100px;
}
.duck-image {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto 8px auto;
}
/* couleurs différentes par place */
.AGATHA { background: #ffe6e6; }
.MATTHIEU { background: #e6ffe6; }
.ELIAS { background: #e6f0ff; }